body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    width: 200px;
    height: 200px;
    /*text-align: center;*/
    margin: 5px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: sans-serif;
}

.fizzbuzz {
    background-color: plum;
}

.fizz {
    background-color: lavenderblush;
}

.buzz {
    background-color: lavender;
}

.num {
    background-color: aliceblue
    ;
}